<mat-toolbar color="primary">
                        <span>My App</span>

                  <span class="example-fill-remaining-space"></span>
                  <span><button mat-button [matMenuTriggerFor]="menu">Account</button>
                      <mat-menu #menu="matMenu">
                          <button mat-menu-item [routerLink] = "['/login']">Sign Out</button>
                          <button mat-menu-item [routerLink] = "['/']">Home</button>
                        </mat-menu>
                  </span>
</mat-toolbar>


<h4>Welcome to Customer page  </h4>
<h4>Select a Product from below List</h4>

<mat-form-field>
<mat-select [(ngModel)]="iniVal" [(ngModel)]="iniFunc"  (ngModelChange)="onProductSelect($event)" >      
  <mat-option *ngFor="let p of type" [value]="p.naming">
    {{p.naming}}
    
  </mat-option>
</mat-select>
</mat-form-field>
  
&nbsp;&nbsp;&nbsp;&nbsp;<button mat-raised-button [routerLink] = "['/addItems']"> <mat-icon>add</mat-icon> <span>add</span> </button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

<ng-container matColumnDef="id">
  <th mat-header-cell *matHeaderCellDef> No. </th>
  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
</ng-container>


<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef> Name </th>
  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
</ng-container>


<ng-container matColumnDef="weight">
  <th mat-header-cell *matHeaderCellDef> Weight </th>
  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
</ng-container>

<ng-container matColumnDef="touchpad">
  <th mat-header-cell *matHeaderCellDef> Touchpad </th>
  <td mat-cell *matCellDef="let element"> {{element.touchpad}} </td>
</ng-container>

 <ng-container matColumnDef="wireless">
  <th mat-header-cell *matHeaderCellDef> Wireless </th>
  <td mat-cell *matCellDef="let element"> {{element.wireless}} </td>
</ng-container>

<ng-container matColumnDef="price">
  <th mat-header-cell *matHeaderCellDef> Price </th>
  <td mat-cell *matCellDef="let element"> {{element.price}} </td>
</ng-container>

<ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">

        <button mat-raised-button (click)="delPro(element.id)"> <mat-icon >delete</mat-icon></button>
        &nbsp; &nbsp;
  </ng-container>

  

  <!-- <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef> Update </th>
    <td mat-cell *matCellDef="let element" ><button mat-raised-button [routerLink] = "['/updateProduct',element.id]" color="primary" >Update</button> &nbsp; </td>
  </ng-container> -->

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
